# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Streamlit
.streamlit/

# Env
env/
venv/
ENV/
.venv/
*.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
*.log

# Others
*.sqlite3
